.outer {
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.outer div {
	display: block;
}

.idledeliverycar {
	margin: 0 auto;
	position: relative;
	width: 60%;
	padding-top: 2em;
	padding-left: 0em;
	padding-right: 0em;
	padding-bottom: 4em;
}

.side-menu {
	margin-left: 0 auto;
	position: fixed !important;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	width: 15%;
	padding-top: 3.1em;
	padding-left: 1.5em;
	padding-right: 2em;
	padding-bottom: 1em;
}

.side-menu a {
	color: #000000;
	text-decoration: none;
	transition: color 0.5s;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: rgb(223, 0, 36);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.idledeliverycar a {
	color: rgb(223, 0, 36);
	text-decoration: none;
}

.idledeliverycar a::after {
	content: '';
	background: url('../img/share-svgrepo-com.svg') no-repeat center;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	margin-bottom: -1px;
	background-size: contain;
}

.idledeliverycar a:visited {
	color: black;
	text-decoration: none;
}

.idledeliverycar a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

.idledeliverycar a:active {
	color: rgb(223, 0, 36);
	background-color: transparent;
	text-decoration: underline;
}



/* --- */

@media (max-width: 1100px) {
	.outer .side-menu {
		display: none;
	}

	.idledeliverycar {
		width: 80%;
	}
}


/*
@media (max-width: 1600px) {
	.idledeliverycar {
		padding-top: 1.8em;
		padding-left: 14em;
		padding-right: 14em;
	}
}

@media (max-width: 1200px) {
	.idledeliverycar {
		padding-top: 1.8em;
		padding-left: 8em;
		padding-right: 8em;
	}
}

@media (max-width: 920px) {
	.idledeliverycar {
		padding-top: 1.8em;
		padding-left: 3em;
		padding-right: 3em;
	}
}

@media (max-width: 320px) {
	.idledeliverycar {
		padding-top: 1.8em;
		padding-left: 2em;
		padding-right: 2em;
	}
}*/