.privacy-policy {
	border-bottom: 3px solid rgb(223, 0, 36);
	transform: scale(1.1);
}

.terms-and-conditions {
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.5s;
}

.terms-and-conditions:hover {
	border-bottom: 3px solid rgb(223, 0, 36);
	transform: scale(1.1);
}

.about-game {
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.5s;
}

.about-game:hover {
	border-bottom: 3px solid rgb(223, 0, 36);
	transform: scale(1.1);
}