/* Global */
body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}


/* ------- */

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	top: 50%;
	padding: 30px;
	text-transform: uppercase;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.nav-wrapper a {
	color: #000000;
	text-decoration: none;
	transition: color 0.5s;
}

/*.nav-wrapper a:hover {
	color: black;
}*/

.nav-wrapper>.left-side>div {
	margin-right: 15px;
}

.product-name {
	display: grid;
	font-size: 200%;
	font-weight: bold;
}

.logo {
	height: 80px;
	width: 80px;
}

.left-side {
	display: flex;
	height: 80px;
	width: 800px;
}

.left-side img {
	max-width: 100%;
	max-height: 100%;
}

.nav-link-wrapper {
	/*height: 22px;*/
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 45%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 2px solid rgb(223, 0, 36);
	transform: scale(1.2);
}


/* ------- */


.footer {
	position: fixed !important;
	overflow: hidden;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: black;
	justify-content: center;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: rgb(223, 0, 36)
}

.footer-another {
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: black;
	justify-content: center;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: rgb(223, 0, 36)
}

.clear {
	height: 100px;
}

.email {
	color: white;
	padding: 38px;
}


/* ------- */


.mediaBlock {
	padding-top: 20px;
}

/*.mediaBlockAbout {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 100px;
}*/

.link a {
	color: black;
	text-decoration: none;
	transition: color 0.5s;
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.link a:hover {
	border-bottom: 2px solid rgb(223, 0, 36);
	color: black;
}

ul li a {
	color: rgb(223, 0, 36);
}


/* ------- */



/* ------- */


@media (max-width: 1600px) {}

@media (max-width: 1200px) {}

@media (max-width: 920px) {

	.product-name {
		display: none;
	}

	.left-side {
		height: 80px;
		width: 80px;
	}

	.left-side img {
		max-width: 80px;
		max-height: 80px;
	}
}

@media (max-width: 320px) {}