/* Global */
body {
	font-family: "Lato", sans-serif;
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* Nav */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
	text-transform: uppercase;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.nav-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-wrapper a:hover {
	color: black;
}


.left-side {
	display: flex;
}

.nav-wrapper>.left-side>div {
	margin-right: 20px;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.brand {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.brand:hover {
	border-bottom: 1px solid black;
}

/* */
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: black;
	justify-content: center;
}

.email {
	color: white;
	padding: 38px;
}

/* */
.mediaBlock {
	padding: 38px;
}

.link a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.link a:hover {
	border-bottom: 1px solid black;
	color: black;
}



/* media */

@media screen and (max-width: 320px) {}